body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
	font-size: 14px;
	font-color:#4d4d4d;;
	-webkit-font-smoothing: antialiased;
}

a{
	color: #b70025;
}

a:hover{
	color: #073c52;
}

/* typography styles */

h1{
	font-size: 30px;
	color: #b70025;
	line-height: 1.5em;
	font-weight: 300;
}

h2{
	font-size: 24px;
	line-height: 1.5em;
	padding-top:3%;
	font-weight: 300;
	text-align: center;
}

h4{
	font-size: 24px;
	line-height: 1.5em;
	padding-top:5%;
	font-weight: 300;
}

.team h1{
	text-align: center;
}

.top-bar-section li:not(.has-form) a:not(.button){
	color: #b70025;
	font-size: 16px;
	font-weight: 400;
}

#home article { 
	font-size: 30px;
	line-height: 1.5em;
	color: white; 
}


/* Navigation */

.contain-to-grid{
	background: white;
	z-index: 9000;
	height: 100px;
	padding-top: 25px;
}

.top-bar-section li:not(.has-form) a:not(.button){
	background: white;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
	background-color: white;
	cursor: pointer;
	color: #073c52;
}

.top-bar{
	background-color: white;
	z-index: 9000;
	padding: 0 20px;
}

.top-bar li{
	background-color: white;

}


/* Header */

#home { 
	background-color: #b70025; 
	margin: 0 auto; 
	width: 100%;
	height: auto;
	font-weight: 300;
	padding: 3% 0;
}

#home2 article p{
	padding-top: 1%;
}


/* Custom-panel */
.what-we-do{
	height: auto;
	padding-top: 3%;
}

/* Services */
.services{
	padding-top: 2%;
	padding-bottom: 3%;
}

.services a li{
	color: white;
}

.services a{
	margin-bottom: 0;
}

.services .button{
	padding: 5% 2%;
	background-color: #073c52;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	height: 200px;
	line-height: 1.2em;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.services .button:hover{
	background-color: #b70025;
}

.button{
	background-color: #b70025;
	color: white;
	letter-spacing: 3px;
	cursor: pointer;
	padding:0 5%;
}

.button:hover{
	background-color: #073c52;
}

#button{
	list-style: none;
}

#button a{
	color: white;
}


/* Team */

.bio{
	padding-bottom: 2%;
}

.team{
	padding-bottom: 2%;
	background-color: #e8e8e8;
}


/* Footer */

.right{
	width: 150px;
}

.left{
	width: 150px;
}

.footer{
	text-align: center;
	background-color: #3c3c3e;
	padding: 30px;
	color: white;
	height: auto;
}

.contact{
	font-size: 20px;
	padding-bottom: 1.5%;
	padding-top: 1.5%;
	width: 100%;
}

.fa{
	margin: 0 5%;
	font-size: 20px;
}




.hero{
	height: 280px;
	background-color: #23272A;
	border-bottom: 1px solid #555;
}

.menu{
	background-color: #233441;
	color: white;
	font-size: 16px;
}

.menu li{
	padding-top: 20px;
	padding-bottom: 20px;
}

.fa .fa-chevron-circle-left{
	float: left;
}

.fa .fa-chevron-circle-right{
	float: right;
}

#btn{
	height: 40px;
	line-height: 2.7em;
	padding-right: 5px !important;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	border: none;
}

#left{
	text-align: left;
	padding-left: 0;
}

#right{
	text-align: right;
}

.content{
	margin-top: 2%;
}

.panel{
	margin-top: 2%;
	padding: 0 10%;
	margin-bottom: 60px;
	background-color: #fff;
	border: 1px solid #ececec;
	height: auto;
	padding-top: 6%;
	padding-bottom: 6%;
}

.panel h1{
	line-height: 1.4em;
	margin-bottom: 0.8em;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;

}

.panel p{
	margin: 1em 0;
	line-height: 1.8em;
}

.img{
	margin-top: 3%;
}

.text{
	width: 600px;
	margin:0 auto;
}

.title{
	float: left;
text-align: center;
width: 100%;
margin-bottom: 20px;
}

.top-image{
	height: 200px;
	overflow: hidden;
}



@media only screen and (max-width: 40em) {
	#items{
		height: auto;
		padding-bottom: 10%;
		padding-top: 10%;
		font-size: 18px;
	}

	.services{
		margin-bottom: 7%;
	}

	#btn{
		width: 70%;
		margin: auto;
		display: table;

	}

	h1{
		text-align: center;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
#home article{
		text-align: center;
	}

	#items{
		height: 180px;
		padding-bottom: 10%;
		padding-top: 10%;
		font-size: 18px;
	}

}
