body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

a{
	color: #b70025;
}

a:hover{
	color: #073c52;
}

.right{
	width: 150px;
}

.left{
	width: 150px;
}

h1{
	font-size: 28px;
	color: #b70025;
	font-weight: 300;
}

.team h4{
	color: #b70025;
	line-height: 2.2em;
}

.bio{
	padding-bottom: 5%;
}

#home { 
	background-color: #b70025;  min-height: 260px; 
	-webkit-background-size: cover;
	margin: 0 auto; 
	position: relative; 
	max-height: 480px;
	font-weight: 300;
}

#home article { 
	height: 200px; 
	position: absolute; 
	top: 80px; 
	font-size: 28px;
	line-height: 1.5em;
	color: white; 
}

#home2 { 
	background-color: #b70025;  min-height: 160px; 
	-webkit-background-size: cover;
	margin: 0 auto; 
	position: relative; 
	max-height: 480px;
	font-weight: 300;
}

#home2 article { 
	height: 200px; 
	position: absolute; 
	top: 60px; 
	width: 100%;
	font-size: 28px;
	line-height: 1.5em;
	color: white; 
}
.contain-to-grid{
	background: white;
	z-index: 9000;
	height: 100px;
	padding-top: 25px;

}

.top-bar-section li:not(.has-form) a:not(.button){
	background: white;
	color: #b70025;
	background: url();
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
	background-color: white;
	cursor: pointer;
	color: #073c52;
}

.top-bar{
	background-color: white;
	z-index: 9000;
	padding: 0 20px;
}

.top-bar li{
	background-color: white;

}

.philosophy{
	height: auto;
	padding-top: 3%;
}

.services{
	padding-top: 2%;
	padding-bottom: 3%;
}
.services a li{
	color: white;
}

.services a{
	margin-bottom: 0;
}


.button{
	background-color: #b70025;
	color: white;
	font: 700 15px/14px PT sans, sans-serif;
	letter-spacing: 3px;
	cursor: pointer;
	padding:0 16px;
}

.button:hover{
	background-color: #073c52;
}

.services .button{
	padding-top: 6%;
	background-color: #073c52;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	height: 200px;
	line-height: 1.2em;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.services .button:hover{
	background-color: #b70025;
}

.panel1 a.button-fr, .panel1 a.button-fr:visited {
	float: right;
	margin-right: 30px;
	margin-top: 70px;
	color: #FFF;
	border: 2px solid #555;
	text-align: center;
	width: 3.2em;
	font-size: 1.125em;
	line-height: 3em;
}

.panel1 a.button-fr:hover{
	background-color: #007095;
	border: 2px solid #23272A;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
}


.panel1{
	background-color: #23272a;
	padding-top: 50px;
	padding-bottom: 80px;
	min-height: 600px;
	display: block;
	width: 100%;
	border-bottom: 2px solid #555;
}

.menu li{
	list-style: none;
	color: white;
}

.divider{
	background-color: white;
}

.panel2{
	padding-top: 36px;
	padding-bottom: 70px;
	background-color: #23272a;
	border-bottom: 2px solid #555;
}

.panel3{
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #ecedee;
}

.summary{
	background-color: #f5f5f5;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style:solid;
	border-color:#dadada;
	border-width: 1px;
}

.panel4{
	padding-bottom: 70px;
	padding-top: 50px;
	border-bottom: 2px solid #cccccc;
}

.header{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 3%;
}

.contact{
	font-size: 20px;
	padding-bottom: 2%;
	padding-top: 1%;
	width: 100%;
}

.team{
	padding-bottom: 2%;
	background-color: #e8e8e8;
}

.fa{
	margin: 5%;
	font-size: 24px;
}

.footer{
	text-align: center;
	background-color: #3c3c3e;
	padding: 30px;
	color: white;
	height: auto;
}


.hero{
	height: 280px;
	background-color: #23272A;
	border-bottom: 1px solid #555;
}

.menu{
	background-color: #233441;
	color: white;
	font-size: 16px;
	display: block;
	text-align: center;
	border-bottom: 1px solid #555;
}

.menu strong{
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu li{
	padding-top: 20px;
	padding-bottom: 20px;
}

.fa .fa-chevron-circle-left{
	float: left;
}

.fa .fa-chevron-circle-right{
	float: right;
}

#btn{
	height: 40px;
	line-height: 2.7em;
	padding-right: 5px !important;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	border: none;
}

#left{
	text-align: left;
	padding-left: 0;
}

#right{
	text-align: right;
}
.content{
	height: auto;
}

@media only screen and (max-width: 40em) {
	#items{
		height: auto;
		padding-bottom: 10%;
		padding-top: 10%;
		font-size: 18px;
	}

	.services{
		margin-bottom: 7%;
	}

	#btn{
		width: 70%;
		margin: auto;
		display: table;

	}

	#about{
		margin-top: 5%;
		margin-bottom: 5%;
	}
	
	h1{
		text-align: center;
		top: 0;
	}

	p{
		text-align: center;
		margin-top: 7%;
	}

 }

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
#home article{
		text-align: center;
		padding-left: 2%;
		padding-right: 2%;
	}

	#items{
		height: 180px;
		padding-bottom: 10%;
		padding-top: 10%;
		font-size: 18px;
	}

}
