body{
	font-family: 'PT Sans', sans-serif;
	line-height: 1.6em;
	font-size: 14px;
}

h1{
	font-size: 28px;
}

.contain-to-grid{
	background-color: #23272A;
	border-bottom: 2px solid #555;
		position: fixed;
		z-index: 9000;
		height: 70px;
		padding-top: 10px;
		
}

.top-bar{
	background-color: #23272A;
	letter-spacing: 3px;
	z-index: 9000;
}

.philosophy{
	height: auto;
	padding-top: 5%;
	border-bottom: 1px solid #555;
}

.services{
	margin-top: 3%;
	margin-bottom: 3%;
}

.services a li{
	color: white;
}

.options{
	height: auto;
	background-color: #23272A;
	border: 7px solid #555;
	color: #777;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}

.options li{
	list-style: none;
	background-color: #23272A;
	border-top: 2px solid #555;
	color: #777;
	font: 700 15px/14px PT sans, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	float:right;
	position:absolute;
	bottom:0;
	right:0;
	clear:right;
	width: 100%;
	background-color: white;
	text-indent: 5%;
	padding-top: 10px;
}

.options li:hover{
	background-color: #007095;
	color: white;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
}


.button{
	background-color: #23272A;
	border: 2px solid #555;
	color: #777;
	font: 700 15px/14px PT sans, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}

.services .button{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #007095;
	border: 2px solid white;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	min-height: 150px;
	line-height: 1em;
}

.services .button:hover{
	background-color: #23272A;
	border: 2px solid #555;
}

.panel1 a.button-fr, .panel1 a.button-fr:visited {
	float: right;
	margin-right: 30px;
	margin-top: 70px;
	color: #FFF;
	border: 2px solid #555;
	text-align: center;
	width: 3.2em;
	font-size: 1.125em;
	line-height: 3em;
}

.panel1 a.button-fr:hover{
	background-color: #007095;
	border: 2px solid #23272A;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	-webkit-appearance: none;
}


.panel1{
	background-color: #23272a;
	padding-top: 50px;
	padding-bottom: 80px;
	min-height: 600px;
	display: block;
	width: 100%;
	border-bottom: 2px solid #555;
}

.menu li{
	list-style: none;
	color: white;
}

.divider{
	background-color: white;
}

.panel2{
	padding-top: 36px;
	padding-bottom: 70px;
	background-color: #23272a;
	border-bottom: 2px solid #555;
}

.panel3{
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #ecedee;
}

.summary{
	background-color: #f5f5f5;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style:solid;
	border-color:#dadada;
	border-width: 1px;
}

.panel4{
	padding-bottom: 70px;
	padding-top: 50px;
	border-bottom: 2px solid #cccccc;
}

.header{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 3%;
}

.team{
	padding-right: 5%;
	padding-left: 5%;
}

.contact{
	font-size: 20px;
	padding-bottom: 2%;
	padding-top: 1%;
	width: 100%;
	margin: 0 auto;
}

.panel{
	border-bottom: 1px solid #555;
	padding-bottom: 3%;
}

.fa{
	margin: 5%;
}

.nav{
	width: 20%;
}

.footer{
	text-align: center;
	background-color: #23272A;
	padding: 50px;
	color: white;
}